<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head th:fragment="headerfiles">
  <meta charset="UTF-8">
  <meta name="viewport"
        content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css"
        integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.4.1/css/all.css"
        integrity="sha384-5sAR7xN1Nv6T6+dT2mhtzEpVJvfS3NScPQTrOxhwjIuvcA67KV2R5Jz6kr4abQsz" crossorigin="anonymous">
  <link rel="stylesheet" th:href="@{/css/shards.min.css}">
</head>
<body class="container border">

<th:block th:fragment="navbar (activelink)">
  <nav class="navbar navbar-expand-lg navbar-dark bg-primary">
    <a th:href="@{/}">
      <img th:src="@{../../images/employee.png}" width="52" height="52" alt="">
    </a>
    <ul class="navbar-nav">
      <li class="nav-item">
        <a class="nav-link mb-0 h4" th:classappend="${activelink} == departments ? active"
           th:href="@{/departments}">Отделы</a>
      </li>
      <li class="nav-item">
        <a class="nav-link mb-0 h4" th:classappend="${activelink} == vacancies ? active"
           th:href="@{/vacancies}">Вакансии</a>
      </li>
      <li class="nav-item">
        <a class="nav-link mb-0 h4" th:classappend="${activelink} == employees ? active"
           th:href="@{/employees}">Сотрудники</a>
      </li>
    </ul>
  </nav>
</th:block>

</body>
</html>