<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">

<head>
  <title>Ошибка</title>
  <th:block th:insert="~{fragments/general.html :: headerfiles}"></th:block>
</head>

<body class="container">

<th:block th:insert="~{fragments/general :: navbar(activelink='none')}"></th:block>

<div class="my-4">
  <div class="row">
    <div class="col">
      <h3>Ошибка</h3>
    </div>
    <div class="col align-self-end">
      <div class="float-right">
        <a href="/" onClick="history.go(-1); return false;" class="btn btn-outline-primary btn-sm">
          <i class="fa fa-window-close"></i> Назад
        </a>
      </div>
    </div>
  </div>
</div>

<div class="my-4">
  <div class="row">
    <div class="col">
      <p th:text="${message}">Ошибка</p>
    </div>
  </div>
</div>

</body>
</html>